section {
  min-height: 100vh;
  position: relative;
}
.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.5;
  background-attachment: fixed;
}
.background-image2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.5;
  background-image: url(../../../assets/images/background.jpg);
  background-attachment: fixed;
}
.poster-contianer {
  max-height: 100vh;
}

.movie-poster {
  max-height: 450px;
  border: 4px solid white;
}
.main-body {
  min-height: 100vh;
  color: white;
}
.right-section {
  height: 100vh;
  justify-content: center;
}

.votes {
  font-size: 20px;
  font-weight: bold;
}

.badge {
  background-color: transparent;
  border: 2px solid white;
}

.btn-div {
  margin-top: 5rem;
}
.recommendedMovies {
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 767px) {
  .poster-contianer {
    justify-content: center;
    padding-top: 80px;
  }
  .right-section {
    padding-top: 0;
    margin-top: 0;
  }
}
@media only screen and (min-width: 767px) {
  .right-data {
    height: 100%;
  }
}
