<div class="parent mb-4" *ngIf="show">
  <div class="data">
    <h2 class="text-center mx-auto">{{ show.original_name }}</h2>
    <div class="overview">
      {{ show.overview }}
    </div>
    <div class="rating text-center mt-3">
      {{ show.vote_average | number : "1.0-1" }}/10
    </div>
    <div class="details-watchlist d-flex justify-content-evenly">
      <div class="details-btn">
        <span class="mx-3 details-arrow"
          ><i class="fa-solid fa-chevron-right" style="color: #ffffff"></i
        ></span>
        <a [routerLink]="['/tvshows', show.id]" (click)="sendID(show.id)"
          >More Details</a
        >
      </div>
      <div class="watchlist-btn">
        <i
          class="fa fa-heart fa-2x"
          (click)="addOrRemove(show.id)"
          [ngStyle]="{ color: inwatchlist ? '#ffd600' : '#2b2b2b' }"
        ></i>
      </div>
    </div>
  </div>
  <div *ngIf="show.poster_path; then poster; else noImage"></div>
  <ng-template #poster>
    <div
      class="main-card"
      [ngStyle]="{
            'background-image': 'url(' + imgPrefix + show.poster_path + ')',
          }"
    ></div>
  </ng-template>
  <ng-template #noImage>
    <div
      class="main-card"
      [ngStyle]="{
            'background-image': 'url(../../assets/images/no-image.jpg)',
          }"
    ></div>
  </ng-template>
</div>
