<nav class="navbar navbar-expand nav-container">
  <div class="container-fluid">
    <div class="logo">
      <a
        class="navbar-brand ps-3"
        routerLink="/home"
        routerLinkActive="active-route"
        >Movie-Rush</a
      >
    </div>
    <div class="logo-sm">
      <a
        class="navbar-brand ps-3"
        routerLink="/home"
        routerLinkActive="active-route"
        ><i class="fa-solid fa-house" style="color: #ffffff"></i
      ></a>
    </div>
    <div class="rest">
      <div class="d-flex flex-column">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active-route"
              routerLink="/movies"
            >
              <i class="fa-solid fa-film me-2" style="color: #ffffff"></i
              ><span class="nav-name">Movies</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLinkActive="active-route"
              routerLink="/tvshows"
            >
              <i class="fa-solid fa-video me-2" style="color: #ffffff"></i>
              <span class="nav-name">TV Shows</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link ps-3"
              aria-current="page"
              routerLinkActive="active-route"
              routerLink="/watchlist"
            >
              <i class="fa-solid fa-bookmark me-2" style="color: #ffffff"></i
              ><span class="nav-name">Watchlist</span></a
            >
            <span class="counter">{{ counter }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
